<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Tresspassing!! </title>

  
</head>
<body>
    <div class="container" style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <img src="https://img.icons8.com/emoji/100/000000/prohibited-emoji.png"/>
    <center><h1>Hey dont tamper the link  !!!!!! </h1> </center>    
     </div>
    
</body>
</html>