<!DOCTYPE html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.username  %> </title>
    <link rel="stylesheet" href="/code.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body >
    <header class="newheader">
        <span> <i class="bi bi-pencil-square" style="color: black;"></i><h1><%= locals.username %>  </h1></span>
         <span><a href="/"><i class="bi bi-house-fill"></i></span></a>
       </header>
    <div class="wrapper"><p class="codeheader"><%- locals.code %></p></div>
  </body>
</html>
