<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.icons8.com/emoji/48/000000/flower-playing-cards.png"
    />
    <meta
      name="description"
      content="A Textspace for all your content and link for clubhouse."
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
      integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="index.css" />
    <title>linkHouse ⛺ | A textSpace for your links</title>
  </head>
  <body>
    <div class="container">
      <h2>Get the shortest link for your bio !</h2>
      <h4></h4>

      <a class="btn">Create new <i class="bi bi-plus-square"></i></a>
     <span style="width: 100%; height: 10vh;"> <svg
      width="100%"
      height="100%"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs></defs>
      <path id="myID" d="" />
    </svg></span>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/autosize@5.0.1,npm/wavify@1.0.0"></script>
    <script>
      document
        .querySelector(".btn")
        .addEventListener("click", async function () {
          let userId = prompt("Enter a id for your space");
          userId = userId.trim();
          userId = userId.replace(/\s/g, "");
          if (userId) {
            let userRegistered = await fetch("/user/" + userId);
            console.log(userRegistered);
            userRegistered = await userRegistered.json();
            if (userRegistered) {
              alert("The user space already exists ");
            } else {
              window.location.href = "/new/" + userId;
            }
          }
          var myWave = wavify(document.querySelector("#myId"), {
            height: 60,
            bones: 3,
            amplitude: 40,
            color: "#ffffff",
            speed: 0.25,
          });
        });
    </script>
  </body>
</html>
