@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;0,900;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
    margin: 0
    padding: 0
    color: #fff
    font-family: 'Montserrat', sans-serif;
body
    max-width: 100% 
    padding: 3em
    display: flex
    justify-content: center
    align-items: center
    background: #ffd523
.container
    width: 100%
    max-width: 95vw
    height: 90vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    padding: 1em
    background: #171717
    border-radius: 1em
    padding-left: 2em
    h2 
        font-weight: 800 bold

    .btn 
        text-decoration: none
        background: #ffd523 
        color: #2c2e43
        padding: 0.75em 1.5em 
        margin-top: 3em 
        border-radius: 3px
        font-weight: 600
        i 
            color: #171717
            font-size: 1em
            margin-left: 0.5em
            background: none    
::-webkit-scrollbar-thumb
    background-color: #2c2e43
    border-radius: 10px
::-webkit-scrollbar
    width: 10px
    background-color: #ffd523